@import url(./rainbow.css);

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont'; /* Project id 4752360 */
  src: url('//at.alicdn.com/t/c/font_4752360_iiu4wh0mnx.woff2?t=1732175361950') format('woff2'),
    url('//at.alicdn.com/t/c/font_4752360_iiu4wh0mnx.woff?t=1732175361950') format('woff'),
    url('//at.alicdn.com/t/c/font_4752360_iiu4wh0mnx.ttf?t=1732175361950') format('truetype');
}

.mdContent {
  font-family: 'iconfont';
  color: #444;
}

.mdContent * {
  margin: 0;
  padding: 0;
}

/* h */
.mdContent h1,
.mdContent h2,
.mdContent h3,
.mdContent h4,
.mdContent h5,
.mdContent h6 {
  margin: 0.5em 0;
}

.mdContent h1 {
  font-size: 2.1em;
}

.mdContent h2 {
  font-size: 1.8em;
}

.mdContent h3 {
  font-size: 1.6em;
}

.mdContent h4 {
  font-size: 1.4em;
}

.mdContent h5 {
  font-size: 1.3em;
}

.mdContent h6 {
  font-size: 1.2em;
}

/* table */
.mdContent table {
  width: 100%;
  border-radius: 5px;
  outline: 1px solid #eee;
  font-size: 0.9em;
}

.mdContent table th {
  white-space: nowrap;
}

.mdContent table th,
.mdContent table td {
  padding: 0.4em 1em;
}

.mdContent table th + th,
.mdContent table td + td {
  border-left: 1px solid #eee;
}

.mdContent table tr td {
  border-top: 1px solid #eee;
}

.mdContent table tr,
.mdContent table th,
.mdContent table td {
  border: none;
}

.mdContent table tbody tr {
  border-top: 1px solid #eee;
}
